.block-1 {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 15px;
  margin-bottom: 15px;

  &__top {
    display: flex;
    flex: 1 0 100%;
    grid-gap: 15px;

    .block-1__item {
      &:nth-child(1) {
        flex-grow: 390;
      }
      &:nth-child(2) {
        flex-grow: 590;
      }
      &:nth-child(3) {
        flex-grow: 160;
      }
    }
  }

  &__item {
    position: relative;

    height: 198px;

    font-size: 53px;
    color: #fff;

    background-color: #8AD191;

    &:nth-child(2) {
      // flex-grow: 995;
      flex: 995 0 auto;
    }

    &:nth-child(3) {
      flex-grow: 160;
    }

    &::after {
      counter-increment: number 1;
      content: counter(number);

      position: absolute;
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);
    }
  }
}